<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847208101297-mptv9qdbtpu0ouh86u2viujv8v4tn83d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847208101297-mptv9qdbtpu0ouh86u2viujv8v4tn83d</string>
	<key>API_KEY</key>
	<string>AIzaSyD6NiTrjNss74jJL-WRog--msMmH2q5slA</string>
	<key>GCM_SENDER_ID</key>
	<string>847208101297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spireon.forceupgradesample</string>
	<key>PROJECT_ID</key>
	<string>pc-api-7238891138983476531-591</string>
	<key>STORAGE_BUCKET</key>
	<string>pc-api-7238891138983476531-591.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847208101297:ios:93198026069d50c1cbf990</string>
</dict>
</plist>